/* Nav.css */

.nav {
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    z-index: 1;
    transition: background-color 0.5s ease-in;
}

.nav__logo {
    position: fixed;
    left: 20px;
    width: 80px; /* Adjust the width as needed */
    object-fit: contain;
}

.nav__avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}
